header {
  height: 100px;
  background-image: url('./worldmap-mobile.jpg');
  box-shadow: 8px 3px 4px black;
  
  h1 {
    font-size: 5vw;
    padding: 10px;
    font-family: 'Baloo Tamma', cursive;
  }
}